.gallery {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.gallery-item {
    list-style: none;
    flex-basis: calc((100% - 48px) / 3);
}


.gallery-image {
    width: 100%;
    display: block;
}